@import './components/mainCarousel.scss';
@import './components/aboutHanbok.scss';
@import './components/navbar.scss';
@import './components/aboutPage.scss';
@import './components/signinPage.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
